@font-face {
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/hindVadodara/HindVadodara-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/hindVadodara/HindVadodara-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Hind Vadodara';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/hindVadodara/HindVadodara-MediumItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/hindVadodara/HindVadodara-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Hind Vadodara';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/hindVadodara/HindVadodara-BoldItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Hind Vadodara';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/hindVadodara/HindVadodara-Italic.ttf') format('truetype');
  }